<div>
<h2>Shipping Information</h2>
  <p class="header_paragraph">
    Currently, we can ship directly to customers in the following states: California, District of Columbia, Oregon, Massachusetts, & Nevada.
  </p>
  <p class="text-center">
    We can ship to SOME other states under certain conditions. Please call us to find out if we can ship to you.
  </p>
  <p class="text-center">
    <a href="tel:+15416879463"><span class="emphasized_statement">Call 541-OUR-WINE (541-687-9463)</span></a>
  </p>
  <p>
    We can ship to some of the non-allowed states via licensed businesses. (Example: ABC Liquor Store in state XX allows
    you to pay a nominal fee for taxes, etc., and they will receive wine shipments for you. Check with your local liquor
    store or wine shop.)
  </p>
  <hr class="glyph">
  <h3><span class="emphasized_statement">WHETHER OR NOT! WEATHER MATTERS: YOU DECIDE!</span></h3>
  <p>
    In previous years we have always
    automatically held Ground shipments during winter and summer months to protect the wine from temperature extremes.
    While we do not believe that it is safe to ship wine via FedEx during these times, we will let you make that decision.
    So, we will ship out all shipments, even if we don't think it is safe, unless you tell us otherwise.
    Wine is a dynamic product and we strongly suggest shipping via FedEx Air during these times.
  </p>
  <p class="text-center">
    <span class="emphasized_statement">OREGON WINE MERCHANTS CAN NOT REPLACE WINES DAMAGED BY EXTREME TEMPERATURES DURING SHIPPING.</span>
  </p>
  <div class="">
    <div class="">
      <img class="img-responsive left_image" alt="purple colored grapes on the vine" src="assets/images/grapes_shorter.png">
    </div>
    <div class="">

      <p>
        If you want the economy of Ground shipping but do not trust the current weather, we will be glad to hold your order
        for you until you inform us that you want it shipped. Wine is a fragile and dynamic commodity that can be damaged by extremes in temperature. Therefore we
        suggest that you ship your packages via air-service.
      </p>
      <p>
        When you place an order through the Oregon Wine Merchants web site you will need to provide an adult signature
        upon delivery.
      </p>
      <p>
        Although out-of-stock wines will be re-ordered promptly, there may be occasions when you may have to wait for your wines. You will be notified accordingly.
      </p>
      <p>
         If you need to have your order arrive by a specific date <a class="emphasized_statement" href="mailto:info@orwines.com?subject=Inquiry%20As%20to%20the%20Availability%20of%20Particular%20Wines">
        email us at info@orwines.com</a> or <a href="tel:+15416879463" class="emphasized_statement">call us at 1-541-687-9463</a>, and
        we will do our very best to accommodate you. Thank you for your business.
      </p>
      <p class="font-weight-bold">
        We accept all major credit cards.
      </p>
    </div>
  </div>
  <hr class="glyph">

  <img class="img-responsive right_image" alt="wines on a shelf" src="assets/images/wines/wines_tall_2.png">

      <h2>Returns</h2>
      <div id="returns">
        <p>
          It is illegal for us to accept returns of alcoholic
          beverages. If FedEx returns a shipment to us because they have made three failed delivery attempts, we will
          contact you. You have 2 options:
        </p>
        <p class="sub-paragraph">1) We can re-ship the order after making sure that someone will be available
          to receive it; you will be billed for the additional shipping; or,
        </p>
        <p class="sub-paragraph">2) We can cancel your order and refund you the
          purchase price minus the cost of shipping and a 20% fee, because we cannot resell the wine.
        </p>
        <h2>Privacy Policy</h2>
        <p>
          We keep your personal information private and secure. When you make a purchase from our site, you provide your name,
          email address, credit card information, address, and phone number. We use this information to process
          your orders, and to keep you updated on your orders. We do not sell,
          loan or lease your information to any third party, ever.
        </p>
      </div>



</div>


