
  <div style="position:relative;width:964px;height:1010px;margin:auto;-adbe-g:p;">
    <div style="position:absolute;top:32px;left:0px;width:963px;height:847px;-adbe-c:c">
      <h1>Shipping Information.</h1>
<p class="centercell"><img src="../images/shiptrans.png" alt="" height="150" width="200" align="right" border="0" /><b><font size="+1">Currently, we <strong>can</strong> ship directly to customers in the following states: California, District of Columbia, Oregon, Massachusetts,  &amp; Nevada.</font></b></p>
<p class="centercell">We can ship to SOME other states under certain conditions. Please call us to find out if we can ship to you. Call 541-OUR-WINE (541-687-9463).</p>
<p class="centercell">We can ship to some of the non-allowed states via licensed businesses. (Example: ABC Liquor Store in state XX allows you to pay a nominal fee for taxes, etc., and they will receive wine shipments for you. Check with your local liquor store or wine shop.)</p>
<p class="centercell"><a id="Summer" name="Summer"></a><font size="+1" color="red"><strong>VERY IMPORTANT NEW SHIPPING RULES: YOU DECIDE! </strong></font><font size="+1">In previous years we have always automatically held Ground shipments during winter and summer months to protect the wine from temperature extremes. While we do not believe that it is safe to ship wine via FedEx during these times, we will let you make that decision. So, <strong>we will ship out all shipments, even if we don't think it is safe, unless you tell us otherwise.</strong> Wine is a dynamic product and we strongly suggest shipping via FedEx Air at this time. OREGON WINE MERCHANTS WILL NOT REPLACE WINES DAMAGED BY EXTREME TEMPERATURES DURING SHIPPING. If you want the economy of Ground shipping but do not trust the current weather, we will be glad to hold your order for you until you inform us that you want it shipped.</font></p>

<p class="centercell">When you place an order through the Oregon Wine Merchants web site you will be required to provide an adult signature upon delivery. Wine is a fragile and dynamic commodity that can be damaged by extremes in temperature. Therefore we suggest that you ship your packages via air-service.</p>
<p class="centercell">Although out of stock wines will be re-ordered promptly, there may be occasions when you may have to wait for wines you have been charged for. You will be notified accordingly.</p>

<p class="centercell">Please note that we do not necessarily ship your order as soon as it was received. For example, if you order wine on a Thursday via 3-day shipping, we will generally wait until Monday to ship it, so that it does not spend the weekend on a FedEx truck or in one of their warehouses where the climate may be adverse.  <strong>If you need to have your order arrive by a specific date, you must email or call us:</strong> info@orwines.com or 1.800.ORWINES (1-800-679-4637).  We will do our very best to accommodate you.</p>
<h3 class="centercell">Returns:</h3>
<p class="centercell">Due to the dynamic nature of wine as a commodity, and for legal reasons, we cannot accept returns of alcoholic beverages. If FedEx returns a shipment to us because they have made three failed delivery attempts, we will contact you and you have 2 options: 1) We re-ship the order after making sure that someone will be available to receive it; you will be re-billed for the shipping charges; or, 2) We cancel your order and refund you the purchase price less the cost of shipping and less a 20% restocking fee.  Thank you for your business.</p>
<p class="centercell"><strong><em>Thank you for your business.</em></strong></p>
</div>
<div style="position:absolute;top:885px;left:0px;width:940px;height:124px;">
  <csobj csref="../../web-data/Components/bottom.html" h="124" occur="68" t="Component" w="940">
    <div style="position:relative;width:940px;height:81px;-adbe-g:p;">
      <div style="position:absolute;top:0px;left:0px;width:939px;height:80px;-adbe-c:c">
        <p align="center"><font size="2"><a href="../index.html">Home</a> | <a href="http://www.nexternal.com/owm">Shop</a> | <a href="aboutus.html">About Us</a> | <a href="wineclubs.html">Wine Clubs</a> | <a href="recipes.html">Recipes</a> | <a href="reference.html">Wine Reference</a> | <a href="contact.html">Contact Us</a> | <a href="http://www.orwines.com/sef">For Spiders</a></font></p>
        <p align="center"><font class="sidebar" size="2" color="silver">© 2007-2012 Oregon Wine Merchants - All rights reserved.</font></p>
      </div>
    </div>
    <p align="center"></p>
  </csobj></div>
</div>

