<div style="text-align:center">
<div class="content">
  <div><p>
  Please join our email list to receive information about our great pinot noir selections, and how you can taste them.
  Eugene/Springfield residents can also sign up for our tastings alerts. We hold two free tasting every week
  at our 2441 Hilyard location.
  </p>
  </div>
  <style>
    #SignUp .signupframe {
      border: 1px solid #;
      background: #;
      color: #;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
<!--  Hey, Isha, I know you don't like inline styles. I stuck the above style tag here so you could fix it.
I don't think the iContact signup script below is working on this page anyway, at least not with the local serve version.-->

    <script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=197260&l=9230&f=1766">
  </script>


</div>
  Please <a href="mailto:info@orwines.com?subject=Inquiry%20As%20to%20the%20Availability%20of%20Particular%20Wines">
  <font color="#990000">email,</font></a>
  <a href="sms:15415144424&body=Inquiry%20Wineshop%20customer%3A%20"><font color="#009900F">text</font></a>
  or <a href="tel:+15416879463"><font color="#2525FF">call us</font></a> with any inquiries as to the availability
  of particular wines.
  &nbsp;<br/>
  &nbsp;<br/>
  &nbsp;<br/><!--<a href="sms:/* phone number here */&body=/* body text here */">Link</a>-->
  &nbsp;<br/>
  &nbsp;<br/>
  &nbsp;<br/>
</div>
