<div style="text-align:center">
<div class="content">
  <div><p>
  Please join our email list to receive information about our great pinot noir selections, and how you can taste them.
  Eugene/Springfield residents can also sign up for our tastings alerts. We hold two free tastings every week
  at our 2441 Hilyard location.
  </p>
  </div>
    <script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=197260&l=9230&f=1766">
  </script>


  <form class="contact_form" method="post" action="http://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup1766" accept-charset="UTF-8" onsubmit="return verifyRequired1766();" >
    <input type="hidden" name="redirect" value="https://www.icontact.com/www/signup/thanks.html">
    <input type="hidden" name="errorredirect" value="https://www.icontact.com/www/signup/error.html">

    <div id="SignUp">
      <table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td valign="top" align="right">
            <span class="required">*</span>&nbsp;Email
          </td>
          <td align="left">
            <input type="text" name="fields_email">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            <span class="required">*</span>&nbsp;First Name
          </td>
          <td align="left">
            <input type="text" name="fields_fname">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            <span class="required">*</span>&nbsp;Last Name
          </td>
          <td align="left">
            <input type="text" name="fields_lname">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;Phone
          </td>
          <td align="left">
            <input type="text" name="fields_phone">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;Address 1
          </td>
          <td align="left">
            <input type="text" name="fields_address1">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;Address 2
          </td>
          <td align="left">
            <input type="text" name="fields_address2">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;City
          </td>
          <td align="left">
            <input type="text" name="fields_city">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;State
          </td>
          <td align="left">
            <input type="text" name="fields_state">
          </td>
        </tr>
        <tr>
          <td valign="top" align="right">
            &nbsp;Zip
          </td>
          <td align="left">
            <input type="text" name="fields_zip">
          </td>
        </tr>
        <input type="hidden" name="listid" value="16789">
        <input type="hidden" name="specialid:16789" value="091V">
        <tr>
          <td>&nbsp;</td>
          <td><span class="required">*</span> = Required Field</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="Submit" value="Submit"></td>
        </tr>
      </table>
    </div>
  </form>


</div>
  Please <a class="emphasized_statement" href="mailto:info@orwines.com?subject=Inquiry%20As%20to%20the%20Availability%20of%20Particular%20Wines">
  email</a>
  or <a class="emphasized_statement" href="tel:+15416879463">call us</a> with any inquiries as to the availability
  of particular wines.
</div>
