  <h2>
    Contact
  </h2>
  <!--<h3>-->
    <!--Contact Sundance Wine Cellars or Oregon Wine Merchants-->
  <!--</h3>-->
  <div><p class="text-center">
  Please join our email list to receive information about our great Pinot Noir selections, and how you can taste them.
  Eugene/Springfield residents can also sign up for our tastings alerts. We hold two free tastings every week,
    on Friday and on Saturday, from 5 -7 pm at our 2441 Hilyard location.
  </p>
  </div>



  <script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/validation-captcha.js"></script>

  <script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/tracking.js"></script>

  <link rel="stylesheet" type="text/css" href="//app.icontact.com/icp/static/human/css/signupBuilder/formGlobalStyles.css">

  <style type="text/css" id="signupBuilderAdvancedStyles">

  </style>



  <form id="ic_signupform" captcha-key="6LeCZCcUAAAAALhxcQ5fN80W6Wa2K3GqRQK6WRjA" captcha-theme="light" new-captcha="true" method="POST" action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=127&cid=197260&lid=9230">
    <div class="elcontainer generous hidden-label center-aligned">
      <div class="form-header">
        <h3>Sign up for our emails</h3></div>
      <div class="sortables">
        <div class="formEl fieldtype-input required" data-validation-type="1" data-label="Email" style="display: inline-block; width: 100%;">
          <label>Email<span class="indicator required">*</span></label>
          <input type="text" placeholder="Email" name="data[email]">
        </div>
        <div class="formEl fieldtype-input required" data-validation-type="1" data-label="First Name" style="display: inline-block; width: 100%;">
          <label>First Name<span class="indicator required">*</span></label>
          <input type="text" placeholder="First Name" name="data[fname]">
        </div>
        <div class="formEl fieldtype-input required" data-validation-type="1" data-label="Last Name" style="display: inline-block; width: 100%;">
          <label>Last Name<span class="indicator required">*</span></label>
          <input type="text" placeholder="Last Name" name="data[lname]">
        </div>
        <div id="lists_choice" class="formEl fieldtype-checkbox required" dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: inline-block; width: 100%;">
          <h3>Lists<span class="indicator required">*</span></h3>
          <div class="option-container">
            <label class="checkbox">
              <input type="checkbox" alt="Lists" name="data[listGroups][]" value="16789" checked>OWM</label>
            <label class="checkbox">
              <input type="checkbox" alt="Lists" name="data[listGroups][]" value="15043" checked>This week at Sundance</label>
          </div>
        </div>
        <div class="submit-container">
          <input type="submit" value="Submit" class="btn btn-submit">
        </div>
      </div>
      <div class="hidden-container"></div>
    </div>
  </form><img src="//app.icontact.com/icp/core/signup/tracking.gif?id=127&cid=197260&lid=9230" />
  <p class="text-center">
    Please <a class="emphasized_statement" href="mailto:info@orwines.com?subject=Inquiry%20As%20to%20the%20Availability%20of%20Particular%20Wines">
    email</a>
    or <a class="emphasized_statement" href="tel:+15416879463">call us</a> with any inquiries as to the availability
    of particular wines, as well as other inquiries or comments regarding Sundance Wine Cellars or Oregon Wine Merchants
  </p>
