<!-- Navigation -->
<div class="allNav" role="navigation">
  <div class="foo">
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse navbar-expand-md">
        <!--<a class="navbar-brand" href="#">OWM</a>-->
        <button class="navbar-toggler"
                type="button"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="isNavbarCollapsed = !isNavbarCollapsed"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse"
             [class.collapse]="isNavbarCollapsed"
        >
          <ul class="navbar-nav mr-auto">
            <li  class="nav-item" >
              <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" routerLink="/">OWM <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLinkActive]="['active']" routerLink="/sundance_wine_cellars">Sundance Wine Cellars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/shipping">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact">Contact</a>
            </li>
          </ul>
          <div class="tag-line form-inline my-2 my-lg-0" *ngIf="showShippingCallout">
            <a class="mr-sm-2" routerLink="/shipping">
              We Ship Wines - Click here!
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Main Container -->
<div class="main"
     [class.swc]="isSwcHeader"
     [class.owm]="isOwmHeader"
     [class.swcandowm]="isSwcAndOwmHeader"
>
  <!-- SWC Header -->
  <div class="header"
       *ngIf="isSwcHeader"
       [class.swc]="isSwcHeader"
       [class.owm]="isOwmHeader"
  >
    <div class="flexContainer">
      <!--<div class="row">-->
      <div class="inlineElements">
        <div class="inlineElement">
          <img class="logo"
               src="assets/images/sundance_wine_cellars.svg"
               alt="Sundance Wine Cellars"
          />
        </div>
        <div class="inlineElement banner_name" id="banner_name">
          <a href="/#">
            <h1>Oregon Wine Merchants</h1>
          </a>
        </div>
        <!--<div class="inlineElement">-->
          <!--<h3 class="header-conjunction">-->
            <!--by-->
          <!--</h3>-->
        <!--</div>-->


        <!--<div class="inlineElement" id="est"><a href="#/"><h3>EST 1983</h3></a></div>-->
        <!--<div class="inlineElement displayAlt">-->
          <!--<img class="logoAlt"-->
             <!--src="assets/images/sundance_wine_cellars.svg"-->
             <!--alt="Sundance Wine Cellars"-->
          <!--/>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!-- OWM Header -->
  <div class="header"
       *ngIf="isOwmHeader"
       [class.swc]="isSwcHeader"
       [class.owm]="isOwmHeader"
  >
    <div class="flexContainer">
      <!--<div class="row">-->
      <div class="inlineElements">
        <div class="inlineElement banner_name" id="banner_name">
          <a href="/#">
            <h1>Oregon Wine Merchants</h1>
          </a>
        </div>
      </div>
      <!--<div class="inlineElement displayAlt">-->
        <!--<img class="logoAlt"-->
             <!--src="assets/images/sundance_wine_cellars.svg"-->
             <!--alt="Sundance Wine Cellars"-->
        <!--/>-->
      <!--</div>-->
    </div>
  </div>

  <!-- BOTH Header -->
  <div class="header"
       *ngIf="isSwcAndOwmHeader"
       [class.swc]="isSwcHeader"
       [class.owm]="isOwmHeader"
       [class.swcandowm]="isSwcAndOwmHeader"
  >
    <div class="flexContainer">
      <!--<div class="row">-->
      <div class="inlineElements">
        <div class="inlineElement">
          <img class="logo"
               src="assets/images/sundance_wine_cellars_OWM.svg"
               alt="Sundance Wine Cellars"
          />
        </div>
        <div class="inlineElement banner_name" id="banner_name">
          <a href="/#">
            <h1>Oregon Wine Merchants</h1>
          </a>
        </div>
        <!--<div class="inlineElement">-->
        <!--<h3 class="header-conjunction">-->
        <!--by-->
        <!--</h3>-->
        <!--</div>-->


        <!--<div class="inlineElement" id="est"><a href="#/"><h3>EST 1983</h3></a></div>-->
        <!--<div class="inlineElement displayAlt">-->
          <!--<img class="logoAlt"-->
               <!--src="assets/images/sundance_wine_cellars.svg"-->
               <!--alt="Sundance Wine Cellars"-->
          <!--/>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Age Restriction Modal -->
<div id="age-verify-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-inner-content">
      <p>Are you old enough to consume alcohol in your area?</p>
      <button id="age-verify-yes" class="age-verify-button">Yes</button>
      <button id="age-verify-no" class="age-verify-button">No</button>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="foot">

      <div class="footer-icons">
        <img src="assets/images/owm_facebook.svg" alt="facebook">
      </div>
      <div class="footer-phone">
        call 541-OUR-WINE (541-687-9463)
      </div>
      <div class="alt-footer-phone">
        <a href="tel:+15416879463">541-687-9463</a>
        <div class="alt-footer-icons">
          <img src="assets/images/owm_facebook.svg" alt="facebook">
        </div>
      </div>
      <div class="footer-info">
        Shop Open
        Tu<span class="fontOverride">-</span>Sat 10<span class="fontOverride">-</span>7, Sun-Mon 12<span class="fontOverride">-</span>7<br>
        Wine Tastings: <span class="longer_text_form">Fridays & Saturdays</span><span class="shorter_text_form"><br>FRI & SAT</span> 5<span class="fontOverride">-</span>7
      </div>
      <div class="alt-footer-info">
        Shop Open Tu<span class="fontOverride">-</span>Sat 10<span class="fontOverride">-</span>7, Sun-Mon 12<span class="fontOverride">-</span>7
      </div>
    </div>
  </div>
</div>
