<div class="shop">
  <h2>Sundance Wine Cellars</h2>
  <p>Sundance Wine Cellars is one of the oldest wine retailers in the Willamette Valley,
    hosting an extensive, well-curated selection of wines from Oregon, the Northwest, and around the world.
    We are located in Eugene, Oregon - a short drive from many of
    Oregon's finest vineyards. </p>
  <img _ngcontent-c0="" alt="wine shop" src="assets/images/pro_wine_shop_shot_micro_edits.png" width="100%">
</div>

  <p>Our location, in Oregon wine country, combined with long-standing relationships with many winemakers,
    makes it possible for us to bring you small production wines, reserve bottlings and special cuvees that are
    unavailable elsewhere.
  <!--</p>-->
  <!--<p>-->
    We spend as much time as we can tasting wines and talking with winemakers in order to stay on top of the ever changing Oregon and
    Northwest wine scenes, so when you <a href="tel:+15416879463"  class="emphasized_statement">call</a> or
    <a href="mailto:info@orwines.com?subject=General%20Wine%20Inquiry"  class="emphasized_statement">email</a> us,
    you will get the straight scoop - not only what to buy, but when to drink it and more. </p>
<div class="staff">
  <h2>Staff</h2>
  <p>Sundance Wine Cellars is owned by Gavin McComas, who also owns Eugene's <a href="sundancenaturalfoods.com"> Sundance Natural Foods</a>
    (around the corner from us). Our veteran wine specialists, Mario, Randy, & Lisa delight our customers
    with their deep knowledge and great recommendations, and our beloved beagle, Scotty, greets our customers and delights our staff.</p>
  <div class="staff_pics row">
    <div class="staff_pic col-lg col-md col-sm-6 col-xs-12">
      <img class="rounded-circle" ngcontent-c0="" alt="Gavin" src="assets/images/gavinColored.png">
      <p class="staff_caption">
        Gavin
        <!-- - Owner-->
      </p>
    </div>
    <div class="staff_pic col-lg col-md col-sm-6 col-xs-12">
      <img class="rounded-circle img-responsive" ngcontent-c0="" alt="Lisa" src="assets/images/lisaColored.png">
      <p class="staff_caption">
        Lisa
        <!-- - Wine Specialist-->
      </p>
    </div>
    <div class="staff_pic col-lg col-md col-sm-6 col-xs-12">
      <img class="rounded-circle img-responsive" ngcontent-c0="" alt="Mario" src="assets/images/marioColored.png">
      <p class="staff_caption">
        Mario
        <!-- - Wine Specialist-->
      </p>
    </div>
    <div class="staff_pic col-lg col-md col-sm-6 col-xs-12">
      <img class="rounded-circle img-responsive" ngcontent-c0="" alt="Randy" src="assets/images/randyColored.png">
      <p class="staff_caption">
        Randy
        <!-- - Wine Specialist-->
      </p>
    </div>
    <div class="staff_pic col-lg col-md col-sm-6 col-xs-12">
      <img class="rounded-circle img-responsive" ngcontent-c0="" alt="Scotty the Dog" src="assets/images/scottyColored.png">
      <p class="staff_caption">
        Scotty
        <!-- - Canine Wine Specialist-->
      </p>
    </div>
  </div>
</div>

<h2>
  A Selection From Around the World
</h2>
<p>
  We offer a wide selection of rare and hard to find wines from all over the world.
  While our focus is primarily on locally produced wines from here in the Willamette Valley,
  we also offer a diverse selection of wines from all of the other major wine producing regions
  in the world. Give us a call at <a class="emphasized_statement" href="tel:+15416879463">541-687-9463</a>, as there is a good chance we
  might have it.
</p>
<div class="">
  <div class="row">
    <div class="col-md-5">
      <p><strong>We have the largest selection of wine in all of Oregon and
        the largest selection of Oregon wines in the world</strong>, with over 500 different Oregon Pinot Noirs in our shop,
        an excellent selection of high-end Washington and California wines, as well as wines from
        Bordeaux, Burgundy, Italy and around the world.</p>
      <h2>Events & Tastings</h2>
      <p>We host free themed tastings <b>every Friday and Saturday from 5PM - 7PM</b>,
        showcasing various wine regions on Fridays and hosting local and regional wineries on Saturdays.
        Our tasting bar is always open and offers free samples of many of our featured wines.
      </p>
    </div>
    <div class="col-md-7 embed-responsive-item embed-responsive-60by45">
      <!--<h3>Location</h3>-->

      <iframe class="embed-responsive-item" height="95%" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=2441%20Hilyard%2C%20Eugene%2C%20Or%2097405&key=AIzaSyCc6O0pXV4h9zpym7bhNn8uCl4gSta5_Xo" allowfullscreen></iframe>

    </div>

  </div>
</div>
