
<h3>About Us:</h3>
  <p>Oregon Wine Merchants is the online division of <strong>Sundance Wine Cellars</strong>, one of the oldest and
    most respected wine retailers in the Willamette Valley. We are located in Eugene, Oregon - a short drive from
    Oregon's finest vineyards. Our location, combined with our long-standing relationship with many winemakers,
    makes it easy for us to bring you small production wines, reserve bottlings and special Cuvees that are
    unavailable elsewhere and to keep you apprised of the next 'hot wine' before it's hot. We spend as much time
    as we can tasting wines and talking with winemakers in order to stay on top of the ever changing Oregon and
    Northwest wine scenes, so when you <a href="tel:+15416879463"><font color="#93192F">call</font></a> or
    <a href="mailto:info@orwines.com?subject=General%20Wine%20Inquiry"><font color="#93192F">email</font></a> us,
    you will get the straight scoop - not only what to buy,
    but when to drink it, etc. In fact, <strong>we have the largest selection of wine in all of Oregon and
      the largest selection of Oregon wines in the world</strong>, with over 475 different Oregon Pinot Noirs,
    a large selection of high-end Washington wines, as well as a comprehensive selection of wines from California,
    Bordeaux, Burgundy, Italy and around the world.</p>
<h3>The Staff:</h3>
<p>Sundance Wine Cellars is owned by Gavin McComas, who also owns Eugene's famous Sundance Natural Foods
  (around the corner from us). Our veteran wine specialists, Mario, Randy, & Lisa delight our customers
  with their deep knowledge and great selections.</p>

<h3>Events / Tastings:</h3>
<p>We host free themed tastings <b>every Friday and Saturday from 5PM - 7PM</b>,
  showcasing frugal selections on Fridays and hosting local and regional wineries on Saturdays.
  Our new tasting bar is always open and offers free samples of many of our featured wines,
  as well as 'pay-to-play' samples of some of the world's finest wines.
</p>
<h3>Location:</h3>

<iframe class="embed-responsive-item" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=2441%20Hilyard%2C%20Eugene%2C%20Or%2097405&key=AIzaSyCc6O0pXV4h9zpym7bhNn8uCl4gSta5_Xo" allowfullscreen></iframe>

&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
