<div style="text-align:center">
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <div class="content">
    <div>

      <p>
        Sundance Wine Cellars is the “parent” business of Oregon Wine Merchants. Our wine shop began in 1983 and
        currently houses the Northwest’s largest selection of wine, including over 500 different Oregon Pinot Noirs.
        In addition to the Pinots we have on hand in the shop, we have access to hundreds more
        through our network of long-established relationships with Oregon wineries.

        Please email, text or call us with any inquiries as to the availability of particular wines.
      </p>
      <h2>
        A Selection From Around the World
      </h2>
      <p>
        We offer a wide selection of rare and hard to find wines from all over the world.
        While our focus is primarily on locally produced wines from here in the Willamette Valley,
        we also offer a diverse selection of wines from all of the other major wine producing regions
        in the world. Give us a call at 541.687.9463, as there is a good chance we might have it.
      </p>
    </div>

    <form
          action="javascript: void(0)"
    >
      <h2>Search Our Wineries</h2>
      <p>
        We have access to wines from over 660 Northwest wineries. Use the search below to see if we can get the wine
        you want from one of our northwest winery partners.
      </p>
      Search our Wineries:
      <input type="text"
             #searchField
             (keyup)="searchWines(searchField.value)"
             (change)="searchWines(searchField.value)"
      />
    </form>

    <div *ngIf="wineResults">
      <div *ngIf="wineResults.length == 0">
        No results found for your query
      </div>

      <ul class="wineries">
        <li class="winery" *ngFor="let winery of wineResults">
          <a class="unstyled_link" routerLink="/shipping">
            <img src="assets/images/grape_icon.svg" alt="grapes">
            {{ winery.wineryName }}
          </a>
        </li>
      </ul>
    </div>

    <div>
      <a routerLink="/subpage">
        Here is a thing:
      </a>
    </div>
  </div>
</div>
